# Folder config file
**/config/*

# Don't commit composer lock file
**/composer.lock

# composer installed dependencies
**/vendor/*
**/vendor

# Don't commit workspace
**/workspace/*

/src/providers/*
/src/helpers/*

!/src/helpers/.gitkeep
!/src/providers/.gitkeep
!/workspace/.gitkeep
!/config/.gitkeep